@import './variables.scss';
@import './mixins.scss';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: $font-body;
  font-size: $font-size-body;
  color: $text-primary;
  background-color: $dark;
  line-height: 1.6;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1, h2, h3, h4, h5, h6 {
  font-family: $font-heading;
  font-weight: 700;
  line-height: 1.2;
  margin-bottom: $spacing-md;
}

h1 {
  font-size: $font-size-h1;
}

h2 {
  font-size: $font-size-h2;
}

h3 {
  font-size: $font-size-h3;
}

h4 {
  font-size: $font-size-h4;
}

p {
  margin-bottom: $spacing-md;
  color: $text-secondary;
}

a {
  text-decoration: none;
  color: inherit;
  transition: color $duration-normal ease;
}

img {
  max-width: 100%;
  height: auto;
  display: block;
}

button {
  font-family: inherit;
}

// Utility Classes
.container {
  @include section-container;
}

.section {
  padding: $spacing-4xl 0;
  
  @include respond-to(lg) {
    padding: $spacing-4xl 0;
  }
}

.text-center {
  text-align: center;
}

.mb-sm {
  margin-bottom: $spacing-sm;
}

.mb-md {
  margin-bottom: $spacing-md;
}

.mb-lg {
  margin-bottom: $spacing-lg;
}

.mb-xl {
  margin-bottom: $spacing-xl;
}

.mt-xl {
  margin-top: $spacing-xl;
}

.mt-2xl {
  margin-top: $spacing-2xl;
}

